/* MEDIA QUERIES */

@media only screen and (min-width: 1024px){

    /* PRODUCTOS */

    #infoProductos{
        @include flexbox (row nowrap, center, flex-start);
    }

    #tortasPersonalizadas,#tortasTartas,#boxes,#especialidades{
        width: 25%; 
    }

    #fotoTortaPersonalizada,#fotoTorta,#fotoBox,#fotoEspecialidad{
        height: 250px;
        width: 250px;
    }

    /* ENVIOS */

    #infoEnvios{
        flex-flow: row nowrap;
    }
    
    #mapaEnvios{
        width: 700px;
        height: 450px;
        margin: 20px 0 0 10px;
    }

    /* CONTACTO */

    #infoConsulta{
        @include flexbox (row nowrap, space-between, center);
        width: 75%;
    }

    #infoUbicacion{
        width: 50%;
    }

    #mapaUbicacion{
        width: 100%;
        margin-left: 4%;
    }

    .formularioContacto{
        width: 100%;
    }
}