/* CONTACTO */

.tituloContacto{
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: 600;
    @extend %cursorNormal;
}

#textoContacto{
    margin-left: 1%;
    @extend %cursorNormal;
}

#infoConsulta{
    @include flexbox (column nowrap, center, center);
    width: 100%;
}

#infoUbicacion{
    @include flexbox (column nowrap, center, center);
    width: 100%;
}

#tituloUbicacion{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    @extend %cursorNormal;
}

#mapaUbicacion{
    width: 65%;
    height: 70vh;
}


#formularioContacto{
    margin-top: 2%;
}

.tituloForm{
    margin-top: 5%;
    font-size: 20px;
    font-weight: 600;
    @extend %cursorNormal;
}

.contenidoFormulario{
    @include flexbox (column nowrap, center, center);
    width: 100%;
}

form{ 
    
    div{
        width: 100%;
    }
}

.inputContacto{
    width: 10%;
}

.botonEnviar{
    background-color: #865101;
    font-weight: 600;
    width: 30%;

    &:hover{
        background-color: #09925b;
    }
}

#infoTelefono{
    @include flexbox (row wrap, flex-start, flex-start);
    margin: 25px 10px 10px 15px;
    @extend %cursorNormal;
}