/* ENVIOS */

#infoEnvios{
    @include flexbox (row nowrap, center, center);
    @extend %cursorNormal;
}

.envioTitulo{
    font-size: 25px;
    text-decoration: underline;
    margin-top: 2%;
    @extend %cursorNormal;
}

#zonasEnvios{
    @include flexbox (column wrap, space-between, space-between);
    margin: 40px;
    height: 450px;
}

.tituloZona{
    text-decoration: underline;
    font-size: 25px;
    @extend %cursorNormal;
}

.costoEnvio{
    font-weight: 600;
    @extend %cursorNormal;
}

#mapaEnvios{
    width: 90%;
    height: 75vh;
}