/* PREGUNTAS FRECUENTES */

#faq{
    @include flexbox (column nowrap, center, flex-start);
    @extend %cursorNormal;
}

#faqTitulo{
    font-size: 25px;
    text-decoration: underline;
    align-self: center;
    margin-top: 20px;
}

.pregunta{
    font-weight: 600;
    margin: 15px;
    font-size: 20px;
}
.respuesta{
    font-size: map-get($variablesBasicas,textoNormal);
    margin: 15px;
}

#linkfaq{
    color: black;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}